In [34]:
import pandas as pd

In [35]:

Titanic_train=pd.read_csv("/Users/rsklanu/Pythonday1/all/train.csv")
Titanic_test=pd.read_csv("/Users/rsklanu/Pythonday1/all/test.csv")

Titanic_train.shape
Titanic_test.shape

(418, 11)

In [36]:
print(Titanic_train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [37]:
print(Titanic_test.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [38]:
#Missing value
print(Titanic_train.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [39]:
print(Titanic_test.isnull().sum())

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [86]:
Titanic_c=pd.concat([Titanic_train,Titanic_test],axis=0,sort=False,ignore_index=True)
Titanic_c.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [54]:
Titanic_c.isnull().sum()

PassengerId       0
Survived        418
Pclass            0
Name              0
Sex               0
Age             263
SibSp             0
Parch             0
Ticket            0
Fare              0
Cabin          1014
Embarked          0
dtype: int64

In [42]:
Titanic_c["Embarked"].value_counts()

S    914
C    270
Q    123
Name: Embarked, dtype: int64

In [44]:
Titanic_c["Embarked"].fillna(value='S',inplace=True)

In [46]:
Titanic_c[Titanic_c["Fare"].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
152,1044,NaN,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S

In [47]:
Titanic_c[Titanic_c["Pclass"]==3]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0.0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,8,0.0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1.0,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,11,1.0,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,13,0.0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
13,14,0.0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
14,15,0.0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,17,0.0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,19,0.0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
19,20,1.0,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
22,23,1.0,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,25,0.0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
25,26,1.0,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
26,27,0.0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,29,1.0,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
29,30,0.0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
32,33,1.0,3,"Glynn, Miss. Mary Agatha",female,NaN,0,0,335677,7.7500,NaN,Q
36,37,1.0,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
37,38,0.0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
38,39,0.0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0000,NaN,S
39,40,1.0,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,NaN,C
40,41,0.0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
42,43,0.0,3,"Kraeff, Mr. Theodor",male,NaN,0,0,349253,7.8958,NaN,C
44,45,1.0,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,NaN,Q
45,46,0.0,3,"Rogers, Mr. William John",male,NaN,0,0,S.C./A.4. 23567,8.0500,NaN,S
46,47,0.0,3,"Lennon, Mr. Denis",male,NaN,1,0,370371,15.5000,NaN,Q
47,48,1.0,3,"O'Driscoll, Miss. Bridget",female,NaN,0,0,14311,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
357,1249,NaN,3,"Lockyer, Mr. Edward",male,NaN,0,0,1222,7.8792,NaN,S
358,1250,NaN,3,"O'Keefe, Mr. Patrick",male,NaN,0,0,368402,7.7500,NaN,Q
359,1251,NaN,3,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.0,1,0,349910,15.5500,NaN,S
360,1252,NaN,3,"Sage, Master. William Henry",male,14.5,8,2,CA. 2343,69.5500,NaN,S
363,1255,NaN,3,"Strilic, Mr. Ivan",male,27.0,0,0,315083,8.6625,NaN,S
365,1257,NaN,3,"Sage, Mrs. John (Annie Bullen)",female,NaN,1,9,CA. 2343,69.5500,NaN,S
366,1258,NaN,3,"Caram, Mr. Joseph",male,NaN,1,0,2689,14.4583,NaN,C
367,1259,NaN,3,"Riihivouri, Miss. Susanna Juhantytar Sanni""""",female,22.0,0,0,3101295,39.6875,NaN,S
376,1268,NaN,3,"Kink, Miss. Maria",female,22.0,2,0,315152,8.6625,NaN,S
379,1271,NaN,3,"Asplund, Master. Carl Edgar",male,5.0,4,2,347077,31.3875,NaN,S
380,1272,NaN,3,"O'Connor, Mr. Patrick",male,NaN,0,0,366713,7.7500,NaN,Q
381,1273,NaN,3,"Foley, Mr. Joseph",male,26.0,0,0,330910,7.8792,NaN,Q
382,1274,NaN,3,"Risien, Mrs. Samuel (Emma)",female,NaN,0,0,364498,14.5000,NaN,S
383,1275,NaN,3,"McNamee, Mrs. Neal (Eileen O'Leary)",female,19.0,1,0,376566,16.1000,NaN,S
386,1278,NaN,3,"Aronsson, Mr. Ernst Axel Algot",male,24.0,0,0,349911,7.7750,NaN,S
388,1280,NaN,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,NaN,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
392,1284,NaN,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
394,1286,NaN,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
396,1288,NaN,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
398,1290,NaN,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,NaN,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
408,1300,NaN,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,NaN,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,NaN,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
412,1304,NaN,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,NaN,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
415,1307,NaN,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,NaN,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,NaN,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [52]:
Titanic_c.groupby('Pclass')['Fare'].median()[3]

8.05

In [53]:
Titanic_c['Fare'].fillna(value=Titanic_c.groupby('Pclass')['Fare'].median()[3],inplace=True)

In [104]:
[Titanic_c['Name'][i].split('.')[0].split(',')[1] for i in range(len(Titanic_c))]

[' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Don',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Rev',
 ' Rev',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Master',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Dr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Rev',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Dr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Mme',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Dr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Ms',
 ' Mr',
 ' Master',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Major',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Miss',
 ' Major',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Lady',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Sir',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Rev',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Dr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mlle',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Col',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Dr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Col',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mlle',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Capt',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' the Countess',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Dr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Dr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Master',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Jonkheer',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Rev',
 ' Mrs',
 ' Master',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mrs',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Rev',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mrs',
 ' Mr',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Mr',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Master',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Miss',
 ' Miss',
 ' Ms',
 ' Master',
 ' Mrs',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Miss',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mrs',
 ' Mr',
 ' Mr',
 ' Mr',
 ' Mr',
 ...]

In [162]:
Title=pd.Series([Titanic_c['Name'][i].split(',')[1].split('.')[0].split(',')[0].strip() for i in range(len(Titanic_c))])
Titanic_cp=pd.concat((Titanic_c,Title.rename('Title')),axis=1,sort=False,)
Titanic_cp.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr

In [164]:
Titanic_cp.groupby(Title)['Age'].median()['Mrs']
#pd.crosstab(Titanic_cp['Title'],Titanic_cp['Age'])

35.5

In [184]:
Titanic_cp[(Titanic_cp["Age"].isna()==True) & (Titanic_cp['Title']=='Mrs')]['Age']=Titanic_cp[(Titanic_cp["Age"].isna()==True) & (Titanic_cp['Title']=='Mrs')]['Age'].fillna(value=Titanic_cp.groupby(Title)['Age'].median()['Mrs'],inplace=True)

In [180]:
titanic=Titanic_cp[(Titanic_cp["Age"].isna()==True) & (Titanic_cp['Title']=='Mrs')]['Age'].fillna(value=Titanic_cp.groupby(Title)['Age'].median()['Mrs'])

In [186]:
Titanic_cp[ (Titanic_cp['Title']=='Mrs')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C,Mrs
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S,Mrs
8,9.0,1.0,3.0,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0.0,2.0,347742,11.1333,NaN,S,Mrs
9,10.0,1.0,2.0,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1.0,0.0,237736,30.0708,NaN,C,Mrs
15,16.0,1.0,2.0,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0.0,0.0,248706,16.0000,NaN,S,Mrs
18,19.0,0.0,3.0,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1.0,0.0,345763,18.0000,NaN,S,Mrs
25,26.0,1.0,3.0,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1.0,5.0,347077,31.3875,NaN,S,Mrs
40,41.0,0.0,3.0,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1.0,0.0,7546,9.4750,NaN,S,Mrs
41,42.0,0.0,2.0,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1.0,0.0,11668,21.0000,NaN,S,Mrs
49,50.0,0.0,3.0,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1.0,0.0,349237,17.8000,NaN,S,Mrs
52,53.0,1.0,1.0,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1.0,0.0,PC 17572,76.7292,D33,C,Mrs
53,54.0,1.0,2.0,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0,1.0,0.0,2926,26.0000,NaN,S,Mrs
66,67.0,1.0,2.0,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0.0,0.0,C.A. 29395,10.5000,F33,S,Mrs
85,86.0,1.0,3.0,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gu...",female,33.0,3.0,0.0,3101278,15.8500,NaN,S,Mrs
98,99.0,1.0,2.0,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0.0,1.0,231919,23.0000,NaN,S,Mrs
132,133.0,0.0,3.0,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1.0,0.0,A/5. 3337,14.5000,NaN,S,Mrs
133,134.0,1.0,2.0,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1.0,0.0,228414,26.0000,NaN,S,Mrs
142,143.0,1.0,3.0,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1.0,0.0,STON/O2. 3101279,15.8500,NaN,S,Mrs
151,152.0,1.0,1.0,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1.0,0.0,113776,66.6000,C2,S,Mrs
161,162.0,1.0,2.0,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.0,0.0,0.0,C.A. 33595,15.7500,NaN,S,Mrs
167,168.0,0.0,3.0,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1.0,4.0,347088,27.9000,NaN,S,Mrs
190,191.0,1.0,2.0,"Pinsky, Mrs. (Rosa)",female,32.0,0.0,0.0,234604,13.0000,NaN,S,Mrs
194,195.0,1.0,1.0,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0.0,0.0,PC 17610,27.7208,B4,C,Mrs
230,231.0,1.0,1.0,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1.0,0.0,36973,83.4750,C83,S,Mrs
247,248.0,1.0,2.0,"Hamalainen, Mrs. William (Anna)",female,24.0,0.0,2.0,250649,14.5000,NaN,S,Mrs
251,252.0,0.0,3.0,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1.0,1.0,347054,10.4625,G6,S,Mrs
254,255.0,0.0,3.0,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0.0,2.0,370129,20.2125,NaN,S,Mrs
255,256.0,1.0,3.0,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.0,0.0,2.0,2650,15.2458,NaN,C,Mrs
259,260.0,1.0,2.0,"Parrish, Mrs. (Lutie Davis)",female,50.0,0.0,1.0,230433,26.0000,NaN,S,Mrs
268,269.0,1.0,1.0,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0.0,1.0,PC 17582,153.4625,C125,S,Mrs
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,1110.0,NaN,1.0,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50.0,1.0,1.0,113503,211.5000,C80,C,Mrs
1113,1114.0,NaN,2.0,"Cook, Mrs. (Selena Rogers)",female,22.0,0.0,0.0,W./C. 14266,10.5000,F33,S,Mrs
1115,1116.0,NaN,1.0,"Candee, Mrs. Edward (Helen Churchill Hungerford)",female,53.0,0.0,0.0,PC 17606,27.4458,NaN,C,Mrs
1130,1131.0,NaN,1.0,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0,1.0,0.0,PC 17761,106.4250,C86,C,Mrs
1131,1132.0,NaN,1.0,"Lindstrom, Mrs. Carl Johan (Sigrid Posse)",female,55.0,0.0,0.0,112377,27.7208,NaN,C,Mrs
1132,1133.0,NaN,2.0,"Christy, Mrs. (Alice Frances)",female,45.0,0.0,2.0,237789,30.0000,NaN,S,Mrs
1137,1138.0,NaN,2.0,"Karnes, Mrs. J Frank (Claire Bennett)",female,22.0,0.0,0.0,F.C.C. 13534,21.0000,NaN,S,Mrs
1139,1140.0,NaN,2.0,"Hold, Mrs. Stephen (Annie Margaret Hill)",female,29.0,1.0,0.0,26707,26.0000,NaN,S,Mrs
1153,1154.0,NaN,2.0,"Wells, Mrs. Arthur Henry (Addie"" Dart Trevaskis)""",female,29.0,0.0,2.0,29103,23.0000,NaN,S,Mrs
1163,1164.0,NaN,1.0,"Clark, Mrs. Walter Miller (Virginia McDowell)",female,26.0,1.0,0.0,13508,136.7792,C89,C,Mrs
1196,1197.0,NaN,1.0,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1.0,1.0,112901,26.5500,B26,S,Mrs
1200,1201.0,NaN,3.0,"Hansen, Mrs. Claus Peter (Jennie L Howard)",female,45.0,1.0,0.0,350026,14.1083,NaN,S,Mrs
1205,1206.0,NaN,1.0,"White, Mrs. John Stuart (Ella Holmes)",female,55.0,0.0,0.0,PC 17760,135.6333,C32,C,Mrs
1221,1222.0,NaN,2.0,"Davies, Mrs. John Morgan (Elizabeth Agnes Mary...",female,48.0,0.0,2.0,C.A. 33112,36.7500,NaN,S,Mrs
1224,1225.0,NaN,3.0,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",female,19.0,1.0,1.0,2653,15.7417,NaN,C,Mrs
1234,1235.0,NaN,1.0,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0.0,1.0,PC 17755,512.3292,B51 B53 B55,C,Mrs
1238,1239.0,NaN,3.0,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0.0,0.0,2688,7.2292,NaN,C,Mrs
1241,1242.0,NaN,1.0,"Greenfield, Mrs. Leo David (Blanche Strouse)",female,45.0,0.0,1.0,PC 17759,63.3583,D10 D12,C,Mrs
1247,1248.0,NaN,1.0,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2.0,0.0,11769,51.4792,C101,S,Mrs
1250,1251.0,NaN,3.0,"Lindell, Mrs. Edvard Bengtsson (Elin Gerda Per...",female,30.0,1.0,0.0,349910,15.5500,NaN,S,Mrs
1252,1253.0,NaN,2.0,"Mallet, Mrs. Albert (Antoinette Magnin)",female,24.0,1.0,1.0,S.C./PARIS 2079,37.0042,NaN,C,Mrs
1253,1254.0,NaN,2.0,"Ware, Mrs. John James (Florence Louise Long)",female,31.0,0.0,0.0,CA 31352,21.0000,NaN,S,Mrs
1255,1256.0,NaN,1.0,"Harder, Mrs. George Achilles (Dorothy Annan)",female,25.0,1.0,0.0,11765,55.4417,E50,C,Mrs
1259,1260.0,NaN,1.0,"Gibson, Mrs. Leonard (Pauline C Boeson)",female,45.0,0.0,1.0,112378,59.4000,NaN,C,Mrs
1265,1266.0,NaN,1.0,"Dodge, Mrs. Washington (Ruth Vidaver)",female,54.0,1.0,1.0,33638,81.8583,A34,S,Mrs
1274,1275.0,NaN,3.0,"McNamee, Mrs. Neal (Eileen O'Leary)",female,19.0,1.0,0.0,376566,16.1000,NaN,S,Mrs
1282,1283.0,NaN,1.0,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0.0,1.0,PC 17592,39.4000,D28,S,Mrs
1286,1287.0,NaN,1.0,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1.0,0.0,13695,60.0000,C31,S,Mrs
1288,1289.0,NaN,1.0,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1.0,1.0,13567,79.2000,B41,C,Mrs
1302,1303.0,NaN,1.0,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1.0,0.0,19928,90.0000,C78,Q,Mrs